<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Информация обо мне</h1>
    <h3>Куренин Никита Алексеевич</h3>
    <p>Студент "Алабуга Политех". <br> Направление: "Веб-дизайн и разработка мультемедийных приложений".<br> Место практики: "Синергия 4.2, Служба стратегического развития", Стажёр.<br> Группа 215-8-1  
</p>
    </body>
</html>